@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color: #01182A;
    --secondary-color: #E8322F;
    --accent-color: #E08D00;
    --gray-100: #F1F6F9;
    --gray-700: #1D2A34;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'lato', sans-serif;
}

h2 {
    font-family: 'lato', sans-serif;
}

p {
    font-family: 'lato', sans-serif;
}

/* ---------------------------------------------------------------------------------> */
.nav-bar {
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
}

.nav-bar ul {
    display: flex;
}
.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--gray-100);
    padding: 7px;
    padding-right: 2em;
}


button {
    border-radius: 10px;
    color:#E08D00;
    border-color: #E08D00;
}

.hero-image {
    background-image: url('images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2em;
    margin-top: -2em;
    margin-bottom: -2em;
    
}

.hero-text {
    text-align: center;
    color: white;
    padding-right: 5em;

}
 
  .section {
    display: flex;
    background-color: #E0EEFA;
    padding: 3em;
}

.left-col {
    padding: 1em;
}
.right-col {
    padding: 2em;
    padding-right: 8em;
}

.one-col {
    flex: 1;
}

.two-col {
    flex: 2;
}

.date-time{
    padding: 6em;
    background: url(images/dates-times.jpg);
    background-size: cover;
    color: var(--gray-100);
}

.left-col-bg-gray700 {
    background-color: var(--gray-700);
    padding: 2em;
    flex: 1;
    padding-left: 3em;
}

.right-col-bg-primary {
    background-color: var(--primary-color);
    padding: 3em;
    flex: 2;
}

/* form CSS --------------------------------------------------------------> */
  form div {
    background-color: #E08D00;
  }
  
  .form-row {
      display: flex;
      gap: 2em;
  }

  .form-row > * {
      flex: 1;
  }

  form input {
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    border: 1px solid #999;
    display: block;
    border-radius: 10px;
  }

  .flex-form-container {
      display: flex;
      justify-content: center;
      gap: 2em;
      padding: 2em;
  }

  .flex-form-container > * {
      flex: 1;
  }

  /* event Schedule --------------------------------------------------------------> */
.event-schedule-section {
    background-color: #01182A;
    padding-bottom: 5em;
    color: white;
    text-align: center;
    padding-top: 3em;
}

  .event-schedule {
      display: flex;
      background-color:#E0EEFA;
      padding: 2em;
      margin: 5em;
      color: black;
      text-align: left;
  }

  .image-divider{
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
  }
 
  .localinfo-section {
      background-color:#E8322F;
      color: white;
      text-align: center;
      padding-top: 2em;
      padding-bottom: 1em;
  }

  .container-restaurants {
      background-color: #01182A;
      color: white;
      text-align: center;
      padding: 3em;

  }
  
  .container-cards {
      display: flex;
      gap: 3em;
      text-align: left;
      
  }

  .card {
      flex: 1
  }

  .card img {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
  }

  .container-hotels {
      text-align: center;
      padding: 3em;
  }

  
 

  /* .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
} */

  .container-activities {
    background-color: #01182A;
    color: white;
    text-align: center;
    padding: 3em;
}



.image-divider2{
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: -2em;
    margin-bottom: -2em;
  }

.container-faqs {
    background-color: #E08D00;
    padding: 3em;
    text-align: center;
    color: white;
}

.container-faqs-cards {
     margin: 3em;
    color: black;
    padding-left: 5em;
    padding-right: 5em;
}

.faq-card {
    background-color: white;
    margin: 4em;
    padding: 1em 3em;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.weather-policy-section{
    background-image: url(images/weather-policy-img.jpg);
    background-size: cover;
    padding: 3em;
}

.weather-card {
    background-color:#E8322F;
    padding: 3em 5em;
    text-align: center;
    margin: 5em;
    color: white;
    border-radius: 40px;
}

.footer {
    background-color:#01182A;
    text-align: center;
    color: white;
    padding: 25px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em
}

.social-media-icons i {
    font-size: 2em;
}

/* .social-media-icons img {
    display: block;
    width: 25px;
} */