@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color: #01182A;
    --secondary-color: #E8322F;
    --accent-color: #E08D00;
    --gray-100: #F1F6F9;
    --gray-700: #1D2A34;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'lato', sans-serif;
}

h2 {
    font-family: 'lato', sans-serif;
}

p {
    font-family: 'lato', sans-serif;
}

/* ---------------------------------------------------------------------------------> */
/* .nav-bar {
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
}

.nav-bar ul {
    display: flex;
}
.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--gray-100);
    padding: 7px;
    padding-right: 2em;
} */

.navigation {
    background: var(--background);
    text-align: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #E8322F;
    color: white;
    font-size: x-small;
    padding-right: 5em;
    
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
    color: white;
    font-size: 1.5em;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;

  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color:#E08D00;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

button {
    border-radius: 10px;
    color:#E08D00;
    border-color: #E08D00;
    
}

.hero-image {
    background-image: url('images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: -3.5em;
    margin-bottom: -3.5em;
}

.hero-text {
    text-align: center;
    color: white;
    padding-right: 5em;

}
 
  .section {
    display: flex;
    background-color: #E0EEFA;
    padding: 3em;
}

.left-col {
    padding: 1em;
}
.right-col {
    padding: 2em;
    padding-right: 8em;
}

.one-col {
    flex: 1;
}

.two-col {
    flex: 2;
}

.date-time{
    padding: 6em;
    background: url(images/dates-times.jpg);
    background-size: cover;
    color: var(--gray-100);
}

.left-col-bg-gray700 {
    background-color: var(--gray-700);
    padding: 2em;
    flex: 1;
    padding-left: 3em;
}

.right-col-bg-primary {
    background-color: var(--primary-color);
    padding: 3em;
    flex: 2;
}

/* form CSS --------------------------------------------------------------> */
  form div {
    background-color: #E08D00;
  }

  .form-header {
      text-align: center;
      background-color: #E08D00;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
  }
  
  .form-row {
      display: flex;
      gap: 2em;
  }

  .form-row > * {
      flex: 1;
  }

  form input {
    padding: 1em;
    margin: 1em auto;
    width: 100%;
    border: .3px solid #999;
    display: block;
    border-radius: 10px;
  }

  .flex-form-container {
      display: flex;
      justify-content: center;
      gap: 10em;
      padding: 2em;
      padding-right: 10em;
      color: white;
  }

  .flex-form-container > * {
      flex: 1;
  }

  /* event Schedule --------------------------------------------------------------> */
.event-schedule-section {
    background-color: #01182A;
    padding-bottom: 5em;
    color: white;
    text-align: center;
    padding-top: 3em;
}

  .event-schedule {
      display: flex;
      background-color:#E0EEFA;
      padding: 2em;
      margin: 5em;
      color: black;
      text-align: left;
  }

  .image-divider{
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: end;
  }
 
  .localinfo-section {
      background-color:#E8322F;
      color: white;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
  }

  .container-restaurants {
      background-color: #01182A;
      color: white;
      text-align: center;
      padding: 3em;

  }
  
  .container-cards {
      display: flex;
      gap: 3em;
      text-align: left;
      
  }

  .card {
      flex: 1
  }

  .card img {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
  }

  .container-hotels {
      text-align: center;
      padding: 3em;
  }

  /* .card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
} */

  .container-activities {
    background-color: #01182A;
    color: white;
    text-align: center;
    padding: 3em;
}



.image-divider2{
    background-repeat: no-repeat;
    background-position: center;
    height: 73vh;
    display: flex;
    justify-content: end;
    margin-bottom: -2em;
    padding-left: -3em;
  }

.container-faqs {
    background-color: #E08D00;
    padding: 3em;
    text-align: center;
    color: white;
}

.container-faqs-cards {
     margin: 3em;
    color: black;
    padding-left: 5em;
    padding-right: 5em;
}

.faq-card {
    background-color: white;
    margin: 4em;
    padding: 1em 3em;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.weather-policy-section{
    background-image: url(images/weather-policy-img.jpg);
    background-size: cover;
    padding: 3em;
}

.weather-card {
    background-color:#E8322F;
    padding: 3em 5em;
    text-align: center;
    margin: 5em;
    color: white;
    border-radius: 40px;
}

.footer {
    background-color:#01182A;
    text-align: center;
    color: white;
    padding: 25px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em
}

.social-media-icons i {
    font-size: 2em;
}

/* .social-media-icons img {
    display: block;
    width: 25px;
} */
/* --------------------------------- Desktop --------------------------------------------------------------------------------> */
@media screen and (min-width: 600px) {
    
    
    .nav-toggle-label {
      display: none;
    }
  
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    nav {
      all: unset;
    }
    
    nav ul {
      display: flex;
      justify-content: flex-end;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
  
  /* add line above or below selection on hover */
    
    nav a::before {
      content:"";
      display: block;
      height: 5px;
      background: white;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
    
      
      transform: scale(0,1);
      transition: transform ease-in-out 250ms;
      transform-origin: left;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
      
    }
  }